@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;500;600;700&display=swap');

:root {
    --color-main: #0065FC;
    --color-alt:  #DEEBFF;
    --color-grey: #F2F2F2;
}

body{
    margin: 0;
    padding: 0;
    width: 100%;
}

h1, h2, h3, p, span, li {
    font-family: 'Raleway', sans-serif;
}

/*MOBILE FIRST*/
h1, h2 {
    font-size: 1.3em;
    margin-left: 2%;
}

h3 {
    font-size: 1em;
    margin-left: 2%;
}

p {
    font-size: 0.8em;
    margin-left: 2%;
}

button {
    font-weight: 500;
}

.navSection nav {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 10%;
    padding: 0;
    width: 100%;
    height: 5%;
}

.navSection nav a {
    font-family: 'Raleway', sans-serif;
    font-size: medium;
    text-decoration: none;
    border-bottom: 2px solid #F2F2F2;
    justify-content: center;
    align-items: center;
    height: 1%;
}

.inscript-button {
    position: absolute;
    top: 25px;
    right: 15px;
    color: #0065FC;
    font-weight: bold;
}

.researchBar {
    display: flex;
    justify-content: center;
    margin: 20px 10px 20px 10px;
}

.fa-map-marker-alt {
    scale: 70%;
    background-color: var(--color-grey);
    border-radius: 50% 0% 0% 50%;
    padding: 20px;
}

.searchingInputText {
    border: 1px solid var(--color-grey);
    width: 100%;
    margin: 8px -25px 8.5px -9px;
}

.fa-search {
    scale: 70%;
    color: white;
    background-color: var(--color-main);
    border-radius: 30%;
    padding: 20px;
}

.searchBtn {
    display: none;
}

label {
    display: flex;
    align-items: center;
    margin-right: 1%;
}

.filterSection {
    display: flex;
    flex-wrap: wrap;
    margin-left: 2%;
    margin-right: 2%;
}

.fa-money-bill-wave, .fa-child, .fa-heart, .fa-dog {
    scale: 150%;
    color: var(--color-main);
    background-color: var(--color-alt);
    margin: 10px;
}

.fa-money-bill-wave {
    border-top: 9px;
    border-right: 7px;
    border-bottom: 9px;
    border-left: 7px;
    border-style: solid;
    border-color: var(--color-alt);
    border-radius: 50%;
}

.fa-money-bill-wave + p {
    font-weight: 700;
    border: 2px solid var(--color-grey);
    border-top-right-radius: 18% 50%;
    border-bottom-right-radius: 18% 50%;
    padding: 15.6px 15px 15.7px 40px;
    margin-left: -27px;
}

.fa-child {
    border-top: 9px;
    border-right: 11px;
    border-bottom: 9px;
    border-left: 11px;
    border-style: solid;
    border-color: var(--color-alt);
    border-radius: 50%;
}

.fa-child + p {
    font-weight: 700;
    border: 2px solid var(--color-grey);
    border-top-right-radius: 24% 50%;
    border-bottom-right-radius: 24% 50%;
    padding: 15.6px 15px 15.7px 40px;
    margin-left: -27px;
}

.fa-heart {
    border: 9px;
    border-top: 9px;
    border-bottom: 9px;
    border-style: solid;
    border-color: var(--color-alt);
    border-radius: 50%;
}

.fa-heart + p {
    font-weight: 700;
    border: 2px solid var(--color-grey);
    border-top-right-radius: 18% 50%;
    border-bottom-right-radius: 18% 50%;
    padding: 15.6px 15px 15.7px 40px;
    margin-left: -27px;
}

.fa-dog {
    border: 8px;
    border-top: 9px;
    border-bottom: 9px;
    border-style: solid;
    border-color: var(--color-alt);
    border-radius: 50%;
}

.fa-dog + p {
    font-weight: 700;
    border: 2px solid var(--color-grey);
    border-top-right-radius: 15% 50%;
    border-bottom-right-radius: 15% 50%;
    padding: 15.6px 15px 15.7px 40px;
    margin-left: -27px;
}

.info-under-filter {
    display: flex;
}

.fa-info {
    display: flex;
    align-self: start;
    color: var(--color-main);
    scale: 70%;
    margin: 2px;
    margin-top: 5px;
    padding: 5px;
    padding-left: 10px;
    padding-right: 9px;
    border: 2px solid var(--color-grey);
    border-radius: 50%;
}

main {
    display: flex;
    flex-direction: column-reverse;
}

.popular-section {
    background-color: var(--color-grey);
    padding: 10px;
}

.popular-figure {
    display: flex;
    overflow: hidden;
    background-color: white;
    width: 90%;
    height: 100px;
    margin: 10px;
    border: 5px solid white;
    border-top-left-radius: 10px 10px;
    border-bottom-left-radius: 10px 10px;
    border-top-right-radius: 10px 10px;
    border-bottom-right-radius: 10px 10px;
}

.popular-img {
    width: 40%;
    transform: scale(120%);
    border-top-left-radius: 7px 7px;
    border-bottom-left-radius: 7px 7px;
}

.descript-popular-section {
    margin-left: 5%;
}

.note-descript-popular-section{
    margin-left: 5%;
}

.fa-star{
    vertical-align: bottom;
    margin-left: -8px;
    transform: scale(67%);
    color: var(--color-main);
}

.fa-star.grey{
    color: var(--color-grey);
}

.zone-section{
    padding: 2%;
    background-color: white;
}

.zone-figure {
    display: flex;
    flex-direction: column; 
    width: 100%;
    overflow: hidden;
    background-color: white;
    border-radius: 10px 10px;
    margin-left: 0;
    box-shadow: 0px 7px 10px var(--color-grey);
}

.zone-img {
    width: 100%;
    height: 115px;
    object-fit: cover;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

/* .descript-zone-section {
    vertical-align: middle;
}

.descript-zone-section h3 {
    margin-bottom: -10px;
}

.descript-zone-section p {
    margin-bottom: 2px;
}
*/
.note-descript-zone-section{
    margin-left: 4%;
    margin-bottom: 2%;
}

.activity {
    padding-top: 5px;
}

.activity-fig {
    background-color: white;
    width: 90%;
    margin: 5%;
    margin-bottom: 25px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    box-shadow: 0px 7px 10px var(--color-grey);
}

.activity-fig img {
    width: 100%;
    height: 115px;
    object-fit: cover;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.activity-fig h3 {
    padding-bottom: 10px;
}

footer {
    background-color: var(--color-grey);
    padding: 2%;
}

.footer-ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    margin-bottom: 30px;
}

.footer-ul li {
    margin: 7px;
}

/* Desktop & tablet */

@media screen and (min-width: 480px) {
    
    .inscript-button {
        position: static !important;
    }
    
    .navSection {
        position: absolute;
        top: -1%;
        right: 10%;
    }
    
    .navSection nav a {
        margin-left: 30%;
        border-bottom: none;
    }
    
    main {
        justify-content: center;
        flex-direction: row;
        width: 97%;
        height: 20%;
    }
    
    .zone-section {
        width: 60%;
        background-color: var(--color-grey);
        margin-top: 1%;
        margin-left: 3%;
        margin-right: 2%;
        padding: 1%;
        border-top-right-radius: 2.5% 4.5%;
        border-bottom-right-radius: 2.5% 4.5%;
        border-top-left-radius: 2.5% 4.5%;
        border-bottom-left-radius: 2.5% 4.5%;
    }
    
    .zone-section section {
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
    }
    
    .zone-section section figure {
        width: 25%;
        padding: 0.5%;
        padding-bottom: 0;
    }
    
    .descript-zone-section {
        flex-direction: column;
    }

    .descript-zone-section h3{
        margin-bottom: 0;
    }

    .note-descript-zone-section {
        width: 40%;
    }
    
}